<%= form_for([@cliente_potencial, @contato]) do |f| %>
  <% if @contato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contato.errors.count, "error") %> prohibited this contato from being saved:</h2>

      <ul>
      <% @contato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div><span style="color:red;">*</span> Indica campos obrigatórios</div><br/><br/>

  <div class="form-group">
    <%= f.label :nome %>&nbsp;<span style="color:red;">*</span>
    <%= f.text_field :nome, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :cargo %><br>
    <%= f.text_field :cargo, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :telefone %><br>
    <%= f.text_field :telefone, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :celular %><br>
    <%= f.text_field :celular, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>&nbsp;<span style="color:red;">*</span>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :facebook %><br>
    <%= f.text_field :facebook, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :linkedin %><br>
    <%= f.text_field :linkedin, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :googleplus %><br>
    <%= f.text_field :googleplus, class: "form-control" %>
  </div>
  <%= f.hidden_field :cliente_potencial_id %>
  <div class="actions">
    <%= f.submit "Gravar", class: "btn btn-default" %>
  </div>
<% end %>
