<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= @contato.nome %></h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <p>
          <strong>Cargo:</strong><br>
          <%= @contato.cargo %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <p>
          <strong>Telefone:</strong><br>
          <%= @contato.telefone %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Celular:</strong><br>
          <%= @contato.celular %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Email:</strong><br>
          <%= @contato.email %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <p>
          <strong>Facebook:</strong><br>
          <%= @contato.facebook %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Linkedin:</strong><br>
          <%= @contato.linkedin %>
        </p>
      </div>  
      <div class="col-md-4">
        <p>
          <strong>Googleplus:</strong><br>
          <%= @contato.googleplus %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p>
          <strong>Observações:</strong><br>
          <%= @contato.observacao %>
        </p>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Editar', edit_cliente_potencial_contato_path(:cliente_potencial_id => @contato.cliente_potencial_id, :id => @contato.id) , :class => "btn btn-primary" %> 
<%= link_to 'Voltar', cliente_potencial_path(@contato.cliente_potencial_id) , :class => "btn btn-primary" %>
