
      <%= form_for(@cliente_potencial) do |f| %>
        <% if @cliente_potencial.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@cliente_potencial.errors.count, "error") %> prohibited this cliente_potencial from being saved:</h2>

            <ul>
            <% @cliente_potencial.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div><span style="color:red;">*</span> Indica campos obrigatórios</div><br/><br/>

        <div class="form-group">
          <%= f.label :nome %>&nbsp;<span style="color:red;">*</span>
          <%= f.text_field :nome, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :descricao, "Descrição" %><br>
          <%= f.text_area :descricao, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :website %><br>
          <%= f.text_field :website, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :setor %><br>
          <%= f.text_field :setor, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :porte %><br>
          <%= f.select(:porte,
              options_for_select([['Micro', '1'], ['Pequena', '2'], ['Média', '3'], ['Média-Grande', '4'], ['Grande', '5']], @cliente_potencial.porte), {include_blank: "Selecione"}, {class: "form-control"}) %>
        </div>
         <div class="form-group">
          <%= f.label :numero_funcionarios, "Número de Funcionários" %><br>
          <%= f.select(:numero_funcionarios,
              options_for_select([['até 10', 1], ['entre 11 e 49', 2], ['entre 50 e 99', 3], ['mais de 99', 4]], @cliente_potencial.numero_funcionarios), {include_blank: "Selecione"}, {class: "form-control"}) %>
        </div>
         <div class="form-group">
          <%= f.label :faturamento %><br>
          <%= f.text_field :faturamento, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :observacao, "Observações" %><br>
          <%= f.text_area :observacao, class: "form-control" %>
        </div>
        <div class="actions">
          <%= f.submit "Gravar", class: "btn btn-primary" %>
        </div>
      <% end %>
