<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Clientes Potenciais</h1>
</div>

<%= link_to 'Novo Cliente Potencial', new_cliente_potencial_path, :class => "btn btn-primary" %><br><br>


<%= form_tag(cliente_potencials_path, :method => "get", id: "search-form") do %>
  <div class="row">
    <div class="col-md-6">
      <div id="custom-search-input">
          <div class="input-group col-md-12">
              <%= text_field_tag :search, params[:search], placeholder: "Buscar Clientes Potenciais", class: "form-control" %>
              <span class="input-group-btn">
                  <button class="btn btn-info btn-lg" type="submit">
                      <i class="glyphicon glyphicon-search"></i>
                  </button>
              </span>
          </div>
      </div>
    </div>
  </div>

<% end %>
<br><br>
  
<% @cliente_potencials.each do |cliente_potencial| %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><%= cliente_potencial.nome %></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <p> 
            <strong>Website:</strong> 
            <%= cliente_potencial.website %>  
          </p>
        </div>
        <div class="col-md-2">
          <p> 
            <strong>Setor:</strong> 
            <%= cliente_potencial.setor %>  
          </p>
        </div>
        <div class="col-md-2">
          <p> 
            <strong>Porte:</strong> 
            <%= cliente_potencial_porte(cliente_potencial.porte) %>  
          </p>
        </div>
        <div class="col-md-5">
          <p>
            <strong>Funcionários:</strong>
            <%= cliente_potencial_numero_funcionarios(cliente_potencial.numero_funcionarios) %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= link_to 'Exibir', cliente_potencial, :class => "btn btn-primary btn-xs" %></td>
          <%= link_to 'Editar', edit_cliente_potencial_path(cliente_potencial), :class => "btn btn-primary btn-xs" %></td>
          <%= link_to 'Excluir', cliente_potencial, method: :delete, data: { confirm: 'Tem certeza?' }, :class => "btn btn-primary btn-xs" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= paginate @cliente_potencials %>
<%= page_entries_info @cliente_potencials %>
  


