<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Clientes Potenciais</h1>
</div>

<%= link_to 'Novo Cliente Potencial', new_cliente_potencial_path, :class => "btn btn-primary" %><br><br>


<%= form_tag(cliente_potencials_path, :method => "get", id: "search-form") do %>
  <div class="row">
    <div class="col-md-6">
      <div id="custom-search-input">
          <div class="input-group col-md-12">
              <%= text_field_tag :search, params[:search], placeholder: "Buscar Clientes Potenciais", class: "form-control" %>
              <span class="input-group-btn">
                  <button class="btn btn-info btn-lg" type="submit">
                      <i class="glyphicon glyphicon-search"></i>
                  </button>
              </span>
          </div>
      </div>
    </div>
  </div>

<% end %>
<br><br>
 
<ul class="list-group">  
<% @cliente_potencials.each do |cliente_potencial| %>
    <li class="list-group-item">
      <h4 class="list-group-item-heading"><%= cliente_potencial.nome %></h4>
        <div class="list-group-item-text row">
 

          <div class="col-md-3">
            <strong>Website:</strong> 
            <%= cliente_potencial.website %>  
          </div>
             
          <div class="col-md-2">   
            <strong>Setor:</strong> 
            <%= cliente_potencial.setor %>  
          </div>       
           
          <div class="col-md-2"> 
            <strong>Porte:</strong> 
            <%= cliente_potencial_porte(cliente_potencial.porte) %>  
          </div>

          <div class="col-md-3">
            <strong>Funcionários:</strong>
            <%= cliente_potencial_numero_funcionarios(cliente_potencial.numero_funcionarios) %>
          </div>
          
          <div class="col-md-2">
            <%= link_to '', cliente_potencial, data: { no_turbolink: true, toggle: "tooltip", placement: "top" }, title: "Ver Detalhes", :class => "btn btn-primary btn-xs glyphicon glyphicon-eye-open" %></td>
            <%= link_to '', edit_cliente_potencial_path(cliente_potencial), data: {toggle: "tooltip", placement: "top" }, title: "Editar", :class => "btn btn-primary btn-xs glyphicon glyphicon-pencil" %></td>
            <%= link_to '', cliente_potencial, method: :delete, data: { confirm: 'Tem certeza?', toggle: "tooltip", placement: "top" }, title: "Excluir" , :class => "btn btn-primary btn-xs glyphicon glyphicon-trash" %>
          </div>

        </div>
    </li>
<% end %>
</ul>
<%= paginate @cliente_potencials %>
<%= page_entries_info @cliente_potencials %>
  
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  })
</script>

