<p id="notice"><%= notice %></p>

<h1>Listing Cliente Potencials</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Website</th>
      <th>Observacao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cliente_potencials.each do |cliente_potencial| %>
      <tr>
        <td><%= cliente_potencial.nome %></td>
        <td><%= cliente_potencial.descricao %></td>
        <td><%= cliente_potencial.website %></td>
        <td><%= cliente_potencial.observacao %></td>
        <td><%= link_to 'Show', cliente_potencial %></td>
        <td><%= link_to 'Edit', edit_cliente_potencial_path(cliente_potencial) %></td>
        <td><%= link_to 'Destroy', cliente_potencial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cliente potencial', new_cliente_potencial_path %>
