<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= @cliente_potencial.nome %></h1>
</div>

<p>
  <strong>Descrição:</strong>
  <%= @cliente_potencial.descricao %>
</p>

<p>
  <strong>Website:</strong>
  <%= @cliente_potencial.website %>
</p>

<p>
  <strong>Observações:</strong>
  <%= @cliente_potencial.observacao %>
</p>

<h3>Oportunidades</h3>

<%= link_to 'Incluir Oportunidade', new_cliente_potencial_oportunidade_path(@cliente_potencial), :class => "btn btn-default" %><br><br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Status</th>
      <th>Receita estimada</th>
      <th>Probabilidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cliente_potencial.oportunidades.each do |oportunidade| %>
      <tr>
        <td><%= oportunidade.nome %></td>
        <td><%= oportunidade.descricao %></td>
        <td><%= oportunidade_status(oportunidade.status) %></td>
        <td><%= oportunidade.receita_estimada %></td>
        <td><%= oportunidade_probabilidade(oportunidade.probabilidade) %></td>
        <td><%= link_to 'Exibir', cliente_potencial_oportunidade_path(:cliente_potencial_id => oportunidade.cliente_potencial_id, :id => oportunidade.id) , :class => "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Editar', edit_cliente_potencial_oportunidade_path(:cliente_potencial_id => oportunidade.cliente_potencial_id, :id => oportunidade.id) , :class => "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Excluir', cliente_potencial_oportunidade_path(:cliente_potencial_id => oportunidade.cliente_potencial_id, :id => oportunidade.id), method: :delete, data: { confirm: 'Tem certeza?' } , :class => "btn btn-default btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h3>Contatos</h3>

<%= link_to 'Incluir Contato', new_cliente_potencial_contato_path(@cliente_potencial), :class => "btn btn-default" %><br><br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cargo</th>
      <th>Telefone</th>
      <th>Celular</th>
      <th>Email</th>
      <th>Facebook</th>
      <th>Linkedin</th>
      <th>Googleplus</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cliente_potencial.contatos.each do |contato| %>
      <tr>
        <td><%= contato.nome %></td>
        <td><%= contato.cargo %></td>
        <td><%= contato.telefone %></td>
        <td><%= contato.celular %></td>
        <td><%= contato.email %></td>
        <td><%= contato.facebook %></td>
        <td><%= contato.linkedin %></td>
        <td><%= contato.googleplus %></td>
        <td><%= link_to 'Exibir', cliente_potencial_contato_path(:cliente_potencial_id => contato.cliente_potencial_id, :id => contato.id), :class => "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Editar', edit_cliente_potencial_contato_path(:cliente_potencial_id => contato.cliente_potencial_id, :id => contato.id), :class => "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Excluir', cliente_potencial_contato_path(:cliente_potencial_id => contato.cliente_potencial_id, :id => contato.id), method: :delete, data: { confirm: 'Tem certeza?' }, :class => "btn btn-default btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Editar', edit_cliente_potencial_path(@cliente_potencial) %> |
<%= link_to 'Voltar', cliente_potencials_path %>
