<p id="notice"><%= notice %></p>



<div class="page-header">
  <h1><%= @cliente_potencial.nome %></h1>
</div>

<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
  <li class="active"><a href="#detalhes" data-toggle="tab">Detalhes</a></li>
  <li><a href="#oportunidades" data-toggle="tab">Oportunidades</a></li>
  <li><a href="#atividades" data-toggle="tab">Atividades</a></li>
  <li><a href="#enderecos" data-toggle="tab">Endereços</a></li>
  <li><a href="#contatos" data-toggle="tab">Contatos</a></li>
</ul>

<div id="my-tab-content" class="tab-content">

  <div class="tab-pane active" id="detalhes">
    <br><br>  
    <div class="panel panel-default">
      <div class="panel-body">
        
        <div class="row">
          <div class="col-md-12">
            <p>
              <strong>Descrição:</strong><br>
              <%= @cliente_potencial.descricao %>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <p>
              <strong>Website:</strong><br>
              <%= @cliente_potencial.website %>
            </p>
          </div>
          <div class="col-md-2"> 
            <p>
              <strong>Setor:</strong><br>
              <%= @cliente_potencial.setor %>
            </p>
          </div>
          <div class="col-md-2">
            <p>
              <strong>Porte:</strong><br>
              <%= cliente_potencial_porte(@cliente_potencial.porte) %>
            </p>
          </div>
          <div class="col-md-3">
            <p>
              <strong>Número de Funcionários:</strong><br>
              <%= cliente_potencial_numero_funcionarios(@cliente_potencial.numero_funcionarios) %>
            </p>
          </div>
          <div class="col-md-3">
            <p>
              <strong>Faturamento:</strong><br>
              <%= @cliente_potencial.faturamento %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>
              <strong>Observações:</strong><br>
              <%= @cliente_potencial.observacao %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- fim detalhes -->

  <div class="tab-pane" id="oportunidades">

    <br><br> 

    <%= link_to 'Incluir Oportunidade', new_cliente_potencial_oportunidade_path(@cliente_potencial), :class => "btn btn-primary" %><br><br>

    <table id="tboportunidade" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Status</th>
          <th>Etapa</th>
          <th>Receita estimada</th>
          <th>Probabilidade</th> 
          <th></th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <th>Nome</th>
          <th>Status</th>
          <th>Etapa</th>
          <th>Receita estimada</th>
          <th>Probabilidade</th> 
          <th></th>
        </tr>
      </tfoot>

      <tbody>
        <% @cliente_potencial.oportunidades.each do |oportunidade| %>
          <tr>
            <td><%= oportunidade.nome %></td>
            <td><%= oportunidade_status(oportunidade.status) %></td>
            <td><%= oportunidade_etapa(oportunidade.etapa) %></td>
            <td><%= oportunidade.receita_estimada %></td>
            <td><%= oportunidade_probabilidade(oportunidade.probabilidade) %></td>
            <td><%= link_to '', cliente_potencial_oportunidade_path(:cliente_potencial_id => oportunidade.cliente_potencial_id, :id => oportunidade.id), data: {toggle: "tooltip", placement: "top" }, title: "Ver Detalhes" , :class => "btn btn-primary btn-xs glyphicon glyphicon-eye-open" %>
                <%= link_to '', edit_cliente_potencial_oportunidade_path(:cliente_potencial_id => oportunidade.cliente_potencial_id, :id => oportunidade.id), data: {toggle: "tooltip", placement: "top" }, title: "Editar" , :class => "btn btn-primary btn-xs glyphicon glyphicon-pencil" %>
                <%= link_to '', cliente_potencial_oportunidade_path(:cliente_potencial_id => oportunidade.cliente_potencial_id, :id => oportunidade.id), method: :delete, data: { confirm: 'Tem certeza?' }, data: {toggle: "tooltip", placement: "top" }, title: "Excluir" , :class => "btn btn-primary btn-xs glyphicon glyphicon-trash" %>
            </td>
            
          </tr>
        <% end %>
      </tbody>
    </table>
  </div> <!-- fim oportunidades -->


  <div class="tab-pane" id="atividades">

    <br><br> 

    <%= link_to 'Nova Atividade', new_atividade_path, :class => "btn btn-primary" %><br><br>


    <table id="tbatividade" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Tipo</th>
          <th>Descrição</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <th>Nome</th>
          <th>Tipo</th>
          <th>Descrição</th>
          <th>Status</th>
          <th></th>
        </tr>
      </tfoot>

      <tbody>
        <% @atividades.each do |atividade| %>
          <tr>
            <td><%= atividade.nome %></td>
            <td><%= atividade_tipo(atividade.tipo) %></td>
            <td><%= atividade.descricao %></td>
            <td><%= atividade_status(atividade.status) %></td>
            <td>
              <%= link_to '', atividade, data: {toggle: "tooltip", placement: "top" }, title: "Ver Detalhes", :class => "btn btn-primary btn-xs glyphicon glyphicon-eye-open" %>
              <%= link_to '', edit_atividade_path(atividade), data: {toggle: "tooltip", placement: "top" }, title: "Editar", :class => "btn btn-primary btn-xs glyphicon glyphicon-pencil" %>
              <%= link_to '', atividade, method: :delete, data: { confirm: 'Tem certeza?', toggle: "tooltip", placement: "top" }, title: "Excluir", :class => "btn btn-primary btn-xs glyphicon glyphicon-trash" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div> <!-- fim atividades -->

    <div class="tab-pane" id="enderecos">

    <br><br> 

    <%= link_to 'Incluir Endereço', new_cliente_potencial_endereco_path(@cliente_potencial), :class => "btn btn-primary" %><br><br>

    <table id="tbendereco" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Logradouro</th>
          <th>Bairro</th>
          <th>Cidade</th>
          <th>UF</th>
          <th>CEP</th>
          <th></th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <th>Nome</th>
          <th>Logradouro</th>
          <th>Bairro</th>
          <th>Cidade</th>
          <th>UF</th>
          <th>CEP</th>
          <th></th>
        </tr>
      </tfoot>

      <tbody>
        <% @cliente_potencial.enderecos.each do |endereco| %>
          <tr>
            <td><%= endereco.nome %></td>
            <td><%= endereco.logradouro %></td>
            <td><%= endereco.bairro %></td>
            <td><%= endereco.cidade %></td>
            <td><%= endereco.uf %></td>
            <td><%= endereco.cep %></td>
            <td>
              <%= link_to '', cliente_potencial_endereco_path(:cliente_potencial_id => endereco.cliente_potencial_id, :id => endereco.id), data: {toggle: "tooltip", placement: "top" }, title: "Ver Detalhes" , :class => "btn btn-primary btn-xs glyphicon glyphicon-eye-open" %>
              <%= link_to '', edit_cliente_potencial_endereco_path(:cliente_potencial_id => endereco.cliente_potencial_id, :id => endereco.id), data: {toggle: "tooltip", placement: "top" }, title: "Editar" , :class => "btn btn-primary btn-xs glyphicon glyphicon-pencil" %>
              <%= link_to '', cliente_potencial_endereco_path(:cliente_potencial_id => endereco.cliente_potencial_id, :id => endereco.id), method: :delete, data: { confirm: 'Tem certeza?', toggle: "tooltip", placement: "top" }, title: "Excluir" , :class => "btn btn-primary btn-xs glyphicon glyphicon-trash" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div> <!-- fim enderecos -->

  <div class="tab-pane" id="contatos">

    <br><br> 

    <%= link_to 'Incluir Contato', new_cliente_potencial_contato_path(@cliente_potencial), :class => "btn btn-primary" %><br><br>

    <table id="tbcontato" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Cargo</th>
          <th>Telefone</th>
          <th>Celular</th>
          <th>Email</th>
          <th>Facebook</th>
          <th>Linkedin</th>
          <th>Googleplus</th>
          
          <th></th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <th>Nome</th>
          <th>Cargo</th>
          <th>Telefone</th>
          <th>Celular</th>
          <th>Email</th>
          <th>Facebook</th>
          <th>Linkedin</th>
          <th>Googleplus</th>
          
          <th></th>
        </tr>
      </tfoot>

      <tbody>
        <% @cliente_potencial.contatos.each do |contato| %>
          <tr>
            <td><%= contato.nome %></td>
            <td><%= contato.cargo %></td>
            <td><%= contato.telefone %></td>
            <td><%= contato.celular %></td>
            <td><%= contato.email %></td>
            <td><%= contato.facebook %></td>
            <td><%= contato.linkedin %></td>
            <td><%= contato.googleplus %></td>
            <td>
              <%= link_to '', cliente_potencial_contato_path(:cliente_potencial_id => contato.cliente_potencial_id, :id => contato.id), data: {toggle: "tooltip", placement: "top" }, title: "Ver Detalhes", :class => "btn btn-primary btn-xs glyphicon glyphicon-eye-open" %>
              <%= link_to '', edit_cliente_potencial_contato_path(:cliente_potencial_id => contato.cliente_potencial_id, :id => contato.id), data: {toggle: "tooltip", placement: "top" }, title: "Editar", :class => "btn btn-primary btn-xs glyphicon glyphicon-pencil" %>
              <%= link_to '', cliente_potencial_contato_path(:cliente_potencial_id => contato.cliente_potencial_id, :id => contato.id), method: :delete, data: { confirm: 'Tem certeza?', toggle: "tooltip", placement: "top" }, title: "Excluir", :class => "btn btn-primary btn-xs glyphicon glyphicon-trash" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div> <!-- fim contatos --> 
</div><!-- fim tab-content -->

<%= link_to 'Editar', edit_cliente_potencial_path(@cliente_potencial) , :class => "btn btn-primary" %>
<%= link_to 'Voltar', cliente_potencials_path , :class => "btn btn-primary" %>

<script type="text/javascript">
    $(document).ready(function() {
        $('#tabs').tab();
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>  
