<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Atividades</h1>
</div>


<%= link_to 'Nova Atividade', new_atividade_path, :class => "btn btn-primary" %>
<%= link_to 'Ver Agenda', agenda_path, data: { no_turbolink: true}, :class => "btn btn-primary" %>
<br><br>

<table id="tbatividade" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Status</th>
      <th></th>
    </tr>
  </tfoot>

  <tbody>
    <% @atividades.each do |atividade| %>
      <tr>
        <td><%= atividade.nome %></td>
        <td><%= atividade_tipo(atividade.tipo) %></td>
        <td><%= atividade_status(atividade.status) %></td>
        <td style="width:10%">
          <%= link_to '', atividade, data: {toggle: "tooltip", placement: "top" }, title: "Ver Detalhes", :class => "btn btn-primary btn-xs glyphicon glyphicon-eye-open" %>
          <%= link_to '', edit_atividade_path(atividade), data: {toggle: "tooltip", placement: "top" }, title: "Editar", :class => "btn btn-primary btn-xs glyphicon glyphicon-pencil" %>
          <%= link_to '', atividade, method: :delete, data: { confirm: 'Tem certeza?', toggle: "tooltip", placement: "top" }, title: "Excluir", :class => "btn btn-primary btn-xs glyphicon glyphicon-trash" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
    $('#tbatividade').DataTable({});
</script>
