
<% if user_signed_in? %>
	<div class="page-header">
		<h1>Meu Dashboard</h1>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="well well-lg">
				<center><strong>Vida média dos negócios</strong></center><br>
				<center>34 dias</center>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well well-lg">
				<center><strong>Receita de negócios em seu funil de vendas</strong></center><br>
				<center>R$ 150.000,00</center>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well well-lg">
				<center><strong>Taxa de Conversão</strong></center><br>
				<center>64%</center>
			</div>
		</div>
	</div>


	<div class="row">

		<div class="col-md-6">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Receita Estimada por Cliente Potencial</h3>
			  </div>
			  <div class="panel-body">
			    <%= pie_chart Oportunidade.includes(:cliente_potencial)
											.group('cliente_potencials.nome')
											.sum('oportunidades.receita_estimada') %>
			  </div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Receita Estimada por Etapa de Venda</h3>
			  </div>
			  <div class="panel-body">
			    <%= pie_chart Oportunidade.select("etapa, sum(receita_estimada) as receita_estimada").group("etapa").map { |o| o.etapa = oportunidade_etapa(o.etapa), o.receita_estimada} %>
			  </div>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Receita Estimada por Probabilidade</h3>
			  </div>
			  <div class="panel-body">
				<%= pie_chart Oportunidade.select("probabilidade, sum(receita_estimada) as receita_estimada").group("probabilidade").map { |o| o.probabilidade = oportunidade_probabilidade(o.probabilidade), o.receita_estimada} %>
			  </div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Receita Estimada por Status da Venda</h3>
			  </div>
			  <div class="panel-body">			    
				<%= pie_chart Oportunidade.select("status, sum(receita_estimada) as receita_estimada").group("status").map { |o| o.status = oportunidade_status(o.status), o.receita_estimada} %>
			  </div>
			</div>
		</div>
	</div>

	<div class="row">

		<div class="col-md-12">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Geração de Oportunidades</h3>
			  </div>
			  <div class="panel-body">
			    <%= line_chart Oportunidade.group_by_day(:created_at, format: "%B %d, %Y").count %>
			  </div>
			</div>
		</div>

	</div>

<% end %>
