<div class="page-header">
  <h1><%= @endereco.cliente_potencial.nome %> - <%= @endereco.nome %></h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <p>
          <strong>Logradouro:</strong><br>
          <%= @endereco.logradouro %>
        </p>
      </div>  
    </div>

    <div class="row">
      <div class="col-md-12">
        <p>
          <strong>Complemento:</strong><br>
          <%= @endereco.complemento %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <p>
          <strong>Bairro:</strong><br>
          <%= @endereco.bairro %>
        </p>
      </div>
      <div class="col-md-3">
        <p>
          <strong>Cidade:</strong><br>
          <%= @endereco.cidade %>
        </p>
      </div>
      <div class="col-md-3">
        <p>
          <strong>Uf:</strong><br>
          <%= @endereco.uf %>
        </p>
      </div>
      <div class="col-md-3">
        <p>
          <strong>Cep:</strong><br>
          <%= @endereco.cep %>
        </p>
      </div>
    </div>
  </div>
</div>



<%= link_to 'Editar', edit_cliente_potencial_endereco_path(:cliente_potencial_id => @endereco.cliente_potencial_id, :id => @endereco.id), :class => "btn btn-primary" %>
<%= link_to 'Voltar', cliente_potencial_path(@endereco.cliente_potencial_id), :class => "btn btn-primary" %>
