<%= form_for(@produto) do |f| %>
  <% if @produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
      <% @produto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div><span style="color:red;">*</span> Indica campos obrigatórios</div><br/><br/>

  <div class="form-group">
    <%= f.label :nome, "Nome" %>&nbsp;<span style="color:red;">*</span>
    <%= f.text_field :nome, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :descricao, "Descrição" %>&nbsp;<span style="color:red;">*</span>
    <%= f.text_area :descricao, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :preco, "Preço" %>&nbsp;<span style="color:red;">*</span>
    <%= f.text_field :preco, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :observacao, "Observações" %><br>
    <%= f.text_area :observacao, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Gravar", class: "btn btn-primary" %>
  </div>
<% end %>
