<p id="notice"><%= notice %></p>

<div class="page-header">
	<h1><%= @produto.nome %></h1>
</div>

<p>
  <strong>Descricao:</strong>
  <%= @produto.descricao %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @produto.preco %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @produto.obs %>
</p>

<%= link_to 'Editar', edit_produto_path(@produto) %> |
<%= link_to 'Voltar', produtos_path %>
