<%= form_for([@cliente_potencial, @oportunidade]) do |f| %>
  <% if @oportunidade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@oportunidade.errors.count, "error") %> prohibited this oportunidade from being saved:</h2>

      <ul>
      <% @oportunidade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div><span style="color:red;">*</span> Indica campos obrigatórios</div><br/><br/>
  
  <div class="form-group">
    <%= f.label :nome, "Nome" %>&nbsp;<span style="color:red;">*</span>
    <%= f.text_field :nome, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :descricao, "Descrição" %>&nbsp;<span style="color:red;">*</span>
    <%= f.text_field :descricao, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :status %>&nbsp;<span style="color:red;">*</span>
    <%= f.select(:status, 
        options_for_select([['Em andamento', '1'], ['Ganho', '2'], ['Perdido', '3']]), {}, {class: "form-control"}) %>
  </div>
  <div class="form-group">
    <%= f.label :receita_estimada %>&nbsp;<span style="color:red;">*</span>
    <%= f.text_field :receita_estimada, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :probabilidade %>&nbsp;<span style="color:red;">*</span>
    <%= f.select(:probabilidade, 
        options_for_select([['Remota', '1'], ['Baixa', '2'], ['Grande', '3'], ['Quente', '4']]), {}, {class: "form-control"}) %>
  </div>
  <div class="form-group">
    <%= f.label :observacao, "Observações" %><br>
    <%= f.text_area :observacao, class: "form-control" %>
  </div>
  <%= f.hidden_field :cliente_potencial_id %>
  <div class="actions">
    <%= f.submit "Gravar", class: "btn btn-primary" %>
  </div>
  
<% end %>
