<%= form_for([@cliente_potencial, @oportunidade]) do |f| %>
  <% if @oportunidade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@oportunidade.errors.count, "error") %> prohibited this oportunidade from being saved:</h2>

      <ul>
      <% @oportunidade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :observacao %><br>
    <%= f.text_area :observacao %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :receita_estimada %><br>
    <%= f.text_field :receita_estimada %>
  </div>
  <div class="field">
    <%= f.label :probabilidade %><br>
    <%= f.text_field :probabilidade %>
  </div>
  <%= f.hidden_field :cliente_potencial_id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
