<p id="notice"><%= notice %></p>

<h1>Listing Oportunidades</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Observacao</th>
      <th>Status</th>
      <th>Receita estimada</th>
      <th>Probabilidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oportunidades.each do |oportunidade| %>
      <tr>
        <td><%= oportunidade.nome %></td>
        <td><%= oportunidade.descricao %></td>
        <td><%= oportunidade.observacao %></td>
        <td><%= oportunidade.status %></td>
        <td><%= oportunidade.receita_estimada %></td>
        <td><%= oportunidade.probabilidade %></td>
        <td><%= link_to 'Show', oportunidade %></td>
        <td><%= link_to 'Edit', edit_oportunidade_path(oportunidade) %></td>
        <td><%= link_to 'Destroy', oportunidade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Oportunidade', new_oportunidade_path %>
