<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= @oportunidade.nome %></h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row"></div>
    <p>
      <strong>Descrição:</strong><br>
      <%= @oportunidade.descricao %>
    </p>

    <div class="row">
      <div class="col-md-4">
        <p>
          <strong>Status:</strong><br>
          <%= oportunidade_status(@oportunidade.status) %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Receita estimada:</strong><br>
          <%= @oportunidade.receita_estimada %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Probabilidade:</strong><br>
          <%= oportunidade_probabilidade(@oportunidade.probabilidade) %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p>
          <strong>Decisor:</strong><br>
          <% if @oportunidade.decisor != nil %>
            <%= @oportunidade.decisor.nome %>
          <% end %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Influenciador:</strong><br>
          <% if @oportunidade.influenciador != nil %>
            <%= @oportunidade.influenciador.nome %>
          <% end %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Comprador:</strong><br>
          <% if @oportunidade.comprador != nil %>
            <%= @oportunidade.comprador.nome %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          <strong>Observação:</strong><br>
          <%= @oportunidade.observacao %>
        </p>
      </div>
    </div>
  </div>
</div>




<br>

<h3>Atividades</h3>

<%= link_to 'Nova Atividade', new_atividade_path, :class => "btn btn-primary" %><br><br>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Descrição</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atividades.each do |atividade| %>
      <tr>
        <td><%= atividade.nome %></td>
        <td><%= atividade_tipo(atividade.tipo) %></td>
        <td><%= atividade.descricao %></td>
        <td><%= atividade_status(atividade.status) %></td>
        <td><%= link_to 'Exibir', atividade, :class => "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Editar', edit_atividade_path(atividade), :class => "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Excluir', atividade, method: :delete, data: { confirm: 'Tem certeza?' }, :class => "btn btn-primary btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Editar', edit_cliente_potencial_oportunidade_path(:cliente_potencial_id => @oportunidade.cliente_potencial_id, :id => @oportunidade.id) , :class => "btn btn-primary" %> 
<%= link_to 'Voltar', cliente_potencial_path(@oportunidade.cliente_potencial_id) , :class => "btn btn-primary" %>
