<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= @oportunidade.nome %></h1>
</div>
<p>
  <strong>Descricao:</strong>
  <%= @oportunidade.descricao %>
</p>

<p>
  <strong>Status:</strong>
  <%= @oportunidade.status %>
</p>

<p>
  <strong>Receita estimada:</strong>
  <%= @oportunidade.receita_estimada %>
</p>

<p>
  <strong>Probabilidade:</strong>
  <%= @oportunidade.probabilidade %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @oportunidade.observacao %>
</p>

<%= link_to 'Editar', edit_cliente_potencial_oportunidade_path(:cliente_potencial_id => @oportunidade.cliente_potencial_id, :id => @oportunidade.id) %> |
<%= link_to 'Voltar', cliente_potencial_path(@oportunidade.cliente_potencial_id) %>
