<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div><span style="color:red;">*</span> Indica campos obrigatórios</div><br/><br/>


  <%= f.fields_for :owner do |o| %>
    <div class="form-group">
      <%= o.label :name %>&nbsp;<span style="color:red;">*</span>
      <%= o.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= o.label :email %>&nbsp;<span style="color:red;">*</span>
      <%= o.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= o.label :password %>&nbsp;<span style="color:red;">*</span>
      <%= o.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= o.label :password_confirmation %>&nbsp;<span style="color:red;">*</span>
      <%= o.password_field :password_confirmation, class: 'form-control' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Gravar", class: "btn btn-primary" %>
  </div>
  
<% end %>
